/* #app {
  -webkit-transform: translateZ(0) !important;
  -moz-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
  transform: translateZ(0) !important;

  -webkit-backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;

  -webkit-perspective: 1000 !important;
  -moz-perspective: 1000 !important;
  -ms-perspective: 1000 !important;
  perspective: 1000 !important;
} */
/*统一根元素的字体大小为16px,方便后续使用rem单位*/
html {
  font-size: 16px !important;
}
body {
  background-color: rgba(0, 0, 0, 0) !important;
  /* IOS 区域滚动卡顿不丝滑,该属性产生会产生未知的bug */
  /* -webkit-overflow-scrolling: touch; */ 
}

/* 去除Unable to preventDefault inside passive event listener警告 */
* {
  touch-action: pan-y;
}
/**
* 以下是禁止手机长按出现复制菜单
**/
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  /* 某些手机上点击时元素高亮闪一下 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}

/*所有使用router-view的地方增加该样式 */
.router-view {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.slide-right-enter-active,
.slide-right-enter-to,
.slide-right-leave-active,
.slide-right-leave-to,
.slide-left-enter-active,
.slide-left-enter-to,
.slide-left-leave-to,
.slide-left-leave-active {
  will-change: transform;
  transition: all 700ms;
  position: absolute;
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
