body {
  background-color: beige !important; /*全局背景色防止转场出现残影*/
}
/* 去除Unable to preventDefault inside passive event listener警告 */
* {
  touch-action: pan-y;
}

/**
* 以下是禁止手机长按出现复制菜单
**/
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}

input {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}
