<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/plugins/mui/css/mui.min.css"> -->
</title>
</head>
<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script src="../static/plugins/mui/js/mui.min.js"></script>
</body>
</html>
